* {
    margin: 0px;
}

.heading {
    color: #050038;
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.paragraph {
    color: rgba(5, 0, 56, 0.72);
    font-size: 1.125rem;
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
}

.container {
    width: 100%;
    max-width: 65%;
    margin: 80px auto;

}

.header-container {
    width: 100%;
    max-width: 80%;
    padding: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-form {
    margin-bottom: 15px;
}

.hero-form > input {
    font-size: 1.125rem;
    font-family: "Helvetica", sans-serif;
    font-weight: lighter;
    width: 89%;
    padding: 14px 20px;
    margin: 20px 0px 10px 0px;
    border: 1px solid #9B99AF;
    border-radius: 25px;
    
}

.btn-primary-full {
    font-size: 1.125rem;
    font-family: "Helvetica", sans-serif;
    font-weight: lighter;
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    background-color: #4262FF;
}

